@import "./all/mixins.scss"; //
@import "./all/all.scss"; //
@import "./individual.scss"; //
@import "./all/bar.scss";
@import "./card.scss"; //
@import "./blog.scss"; //

body {
  background-color: #f4f4f4;
  margin: 0;
  // background-color: blueviolet;
}

.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $color-gray-2;
  padding: 0 0px 0 10px;
  &-logo {
    font-family: "Handlee", cursive;
    font-size: 32px;
    @include respond(phone-land) {
      font-size: 28px;
      margin-right: 6%;
    }
    @include respond(phone) {
      font-size: 22px;
      margin-right: 0%;
      margin: 0 3%;
    }
  }
  &-menuicon {
    position: relative;
    top: -1000px;
    @include respond(phone) {
      top: 0;
    }

    &-icon {
      fill: $color-gray-1;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  &-search {
    &-input {
      height: 2rem;
      width: 30rem;
      border-radius: 100px;
      border: 1px solid $color-gray-2;
      padding-left: 2rem;
      position: relative;

      @include respond(phone-land) {
        width: 15rem;
        // margin-left: 1%;
      }
      @include respond(phone) {
        width: 7rem;
      }
    }
    &-icon {
      cursor: pointer;
      width: 1rem;
      height: 1rem;
      fill: $color-gray-1;
      position: absolute;
      margin-left: -2.5rem;
      margin-top: 10px;

      &:hover {
        margin-top: 5px;
        width: 1.5rem;
        height: 1.5rem;
      }

      @include respond(phone) {
        margin-left: -8.5rem;
      }
    }
  }
  &-navegation {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding-left: 10px;
      @include font-text-2;

      @include respond(phone-land) {
        @include font-text-2;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    @include respond(phone) {
      position: relative;
      top: -1000px;
    }
  }
}

.container {
  min-height: 80vh;
  background-color: white;
  margin: 0 10%;

  @include respond(phone) {
    margin: 0;
  }
}
// slider
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  width: 99%;

  &-img {
    height: 100%;
    width: 100%;
  }

  @include respond(phone-land) {
    width: 90%;
  }
  @include respond(phone) {
    width: 80%;
  }
}
// favoritos
.image {
  width: 100%;
  position: relative;
}
.favorites {
  background-image: url("../img/azyl.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;

  @include respond(phone-land) {
    background-image: none;
  }
  &-title {
    @include font-title-2;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 20px;

    @include respond(phone-land) {
      color: black;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    margin-left: 7%;
    @include respond(tab-land) {
      grid-template-columns: repeat(3, 230px);
    }
    @include respond(phone-land) {
      display: block;
      margin-left: 0;
    }
  }

  &-box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 5px;
    height: 350px;
    @include respond(tab-land) {
      height: 380px;
    }
    @include respond(phone-land) {
      margin-right: 0px;
      height: 320px;
      width: 100%;
    }
    &-img {
      width: 98%;
      img {
        margin: 0;
        width: 100%;
        height: 15rem;
      }
    }
    &-title {
      @include font-title-3;
      color: white;
      margin: 0;
      @include respond(phone-land) {
        color: black;
      }
    }
    &-text {
      padding: 5px;
      margin: 0;
      @include font-text-4;
      color: white;

      @include respond(phone-land) {
        padding: 0;
        @include font-text-3;
        color: black;
      }
      @include respond(phone) {
        padding: 0 10px;
      }
    }
  }
}
.workers {
  &-title {
    @include font-title-1;
    color: $color-gray-1;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 1rem;

    @include respond(phone-land) {
      font-size: 26px;
    }
  }
  &-boxMain {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-icon {
      width: 2rem;
      height: 2rem;
      fill: $color-gray-2;
      transition: all 0.2s linear;

      &:hover {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.1rem;
    padding: 1rem 0.5rem;
  }

  &-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;

    &-img {
      img {
        width: 98%;
        height: 20rem;

        @include respond(phone-land) {
          height: 13rem;
        }
      }
    }
    &-title {
      color: $color-blue-1;
      @include font-title-3;
      margin: 0;

      @include respond(phone-land) {
        font-size: 16px;
      }
    }
    &-text {
      padding: 5px;
      margin: 0;
      @include font-text-4;
    }
  }
}
.categories {
  border: 1px solid $color-gray-2;
  border-top: none;
  padding-bottom: 1rem;

  &-title {
    @include font-title-1;
    color: $color-gray-1;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
  }
  &-grilla {
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    @include respond(tab) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-box {
    position: relative;
    width: 100%;
    height: 100%;
    &-img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-text {
      opacity: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      transition: all 0.5s linear;
      h2 {
        opacity: 1;
        @include font-title-3;
        color: white;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
.delivery {
  background-image: url("../img/delivery.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  @include flex-center;
  flex-direction: column;
  &-btn {
    cursor: pointer;
    padding: 1%;
    border: 2px solid $color-blue-1;
    color: $color-blue-1;
    @include font-text-2;
    border-radius: 100px;
    width: 50%;
    background-color: transparent;
    transition: all 0.3s linear;
    transform: scaleX(1);

    &:hover {
      transform: scaleY(1.1);
    }

    @include respond(phone) {
      width: 98%;
      margin: 0 1%;
      margin-bottom: 3%;
    }
  }
  &-text {
    font-weight: 900;
    color: red;
    font-family: "Handlee", cursive;
    font-size: 20px;
  }
  &-h3 {
    @include font-title-1;
    font-size: 26px;

    @include respond(tab-land) {
      text-align: center;
    }
    @include respond(phone) {
      font-size: 20px;
    }
  }
}
.footer {
  height: 3.5rem;
  background-color: $color-gray-2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &-icon {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    fill: black;
  }
}
