@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap");

// font-family: 'Handlee', cursive;
// font-family: 'Roboto', sans-serif;
// para todo

$color-yellow-1: #ffc300;
$color-yellow-2: #ffd344;
$color-blue-1: #003cff;
$color-blue-2: #2256ff;
$color-red-1: #fc1010;
$color-red-2: #fd4040;
$color-gray-1: #707070;
$color-gray-2: #bebebe;
$color-green: #66bb6a;

// mixins tamaño y tipo de fuente
@mixin font-title-1 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
@mixin font-title-2 {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
@mixin font-title-3 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@mixin font-text-1 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
@mixin font-text-2 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
@mixin font-text-3 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
@mixin font-text-4 {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

.pad-left-10 {
  padding-left: 10px;
}
.pad-right-10 {
  padding-right: 10px;
}
.yellow,
.red,
.blue {
  width: 100%;
  height: 4px;
}
.yellow {
  background-color: $color-yellow-1;
}
.blue {
  background-color: $color-blue-1;
}
.red {
  margin: 5px 0;
  background-color: $color-red-1;
}
.outline {
  border: 2px solid $color-red-1;
  background-color: transparent;
  border-radius: 10px;
}
.fill {
  background-color: $color-yellow-1;
  border: none;
  border-radius: 100px;
  margin-right: 10px;
  @include respond(phone) {
    margin-right: 0;
  }
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.white {
  color: white;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grilla {
  display: grid;
  grid-template-columns: 1fr 350px;
  margin-top: 2rem !important;
  @include respond(phone) {
    display: block;
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
