.progress {
  width: 38%;

  padding: 2px;
  background: rgba($color-gray-2, 0.15);
  border-radius: 4px;
  position: relative;
  left: 60%;
  @include respond(phone) {
    left: 10px;
    width: 90%;
  }
}

.progress-bar {
  height: 10px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

#five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: $color-yellow-1;
}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: $color-yellow-1;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: $color-yellow-1;
}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: $color-yellow-1;
}
#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: $color-yellow-1;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
