* {
  margin: 0; }

body {
  background-color: 0; }

.header {
  background-color: #875a47;
  display: grid;
  grid-template-columns: 2.5em 1fr 7em;
  padding: 0.5em; }
  .header-logo-icon {
    width: 2em;
    height: 2em;
    fill: #a9897c; }
  .header-search {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-search input {
      padding: 0.5em;
      width: 40%;
      border-radius: 1em;
      border: 1px solid #a9897c;
      background-color: transparent;
      transition: all 0.5s;
      padding-left: 2rem; }
      .header-search input:hover, .header-search input:focus {
        width: 70%;
        background-color: #a9897c; }
  .header-navegation {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-navegation-icon {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
      fill: #a9897c; }
      .header-navegation-icon:hover {
        width: 2em;
        height: 2em;
        animation: rotate 1s linear forwards infinite; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.container {
  margin: 0 3em;
  background-color: #a9897c; }
