@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Manrope:wght@200&display=swap");
li {
  list-style-type: none; }

* {
  margin: 0; }

body {
  background-color: #a9897c;
  font-family: "Manrope", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive; }

a {
  text-decoration: none;
  color: white; }

.header {
  background-color: #875a47;
  display: grid;
  grid-template-columns: 2.5em 1fr 7em;
  padding: 0.5em; }
  .header-logo-icon {
    fill: #a9897c;
    width: 2em;
    height: 2em; }
  .header-search {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-search input {
      padding: 0.5em;
      width: 40%;
      border-radius: 1em;
      border: 1px solid #a9897c;
      background-color: transparent;
      transition: all 0.5s;
      padding-left: 2rem; }
      .header-search input:hover, .header-search input:focus {
        width: 70%;
        background-color: #a9897c; }
  .header-navegation {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-navegation-icon {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
      fill: #a9897c; }
      .header-navegation-icon:hover {
        width: 2em;
        height: 2em;
        animation: rotate 1s linear forwards infinite; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.container {
  height: 80vh;
  margin: 0 3em;
  background-color: #bba196;
  color: black; }

.footer {
  color: white;
  background-color: #875a47; }
  .footer-description {
    height: 70%; }
    .footer-description-title {
      text-align: center;
      font-size: 28px; }
    .footer-description-list {
      padding-bottom: 1rem; }
      .footer-description-list li {
        padding-top: 3px; }
  .footer-redes {
    height: 3rem;
    background-color: #76422d;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-redes-icon {
      width: 1.5em;
      height: 1.5em; }
      .footer-redes-icon:hover {
        animation: rotateme 1s linear forwards infinite; }

@keyframes rotateme {
  0% {
    transform: rotate(0);
    fill: #987162; }
  25% {
    transform: rotate(-90deg);
    fill: #875a47; }
  50% {
    transform: rotate(90deg);
    fill: #a9897c; }
  100% {
    transform: rotate(0);
    fill: #875a47; } }
