@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap");
li {
  list-style-type: none; }

.pad-left-10 {
  padding-left: 10px; }

.pad-right-10 {
  padding-right: 10px; }

.yellow,
.red,
.blue {
  width: 100%;
  height: 4px; }

.yellow {
  background-color: #ffc300; }

.blue {
  background-color: #003cff; }

.red {
  margin: 5px 0;
  background-color: #fc1010; }

body {
  background-color: #f4f4f4;
  margin: 0; }

.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #bebebe;
  padding: 0 0px 0 10px; }
  .header-logo {
    font-family: "Handlee", cursive;
    font-size: 32px; }
  .header-search-input {
    height: 2rem;
    width: 30rem;
    border-radius: 100px;
    border: 1px solid #bebebe;
    padding-left: 2rem;
    position: relative; }
  .header-search-icon {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    fill: #707070;
    position: absolute;
    margin-left: -2.5rem;
    margin-top: 10px; }
    .header-search-icon:hover {
      margin-top: 5px;
      width: 1.5rem;
      height: 1.5rem; }
  .header-navegation {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-navegation li {
      padding-left: 10px;
      font-size: 16px;
      font-family: "Roboto", sans-serif; }
      .header-navegation li:hover {
        text-decoration: underline; }

.container {
  background-color: white;
  margin: 0 10%; }

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  width: 99%; }
  .slider-img {
    height: 100%;
    width: 100%; }

.favorites-title {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #707070;
  text-transform: uppercase;
  text-align: center; }

.favorites-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 1rem; }

.favorites-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 30rem;
  margin-top: 0.5rem; }
  .favorites-box-img img {
    width: 100%;
    height: 20rem; }
  .favorites-box-title {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #707070;
    margin: 0; }
  .favorites-box-text {
    padding: 5px;
    margin: 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #707070; }

.workers-title {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #707070;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 1rem; }

.workers-boxMain {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .workers-boxMain-icon {
    width: 2rem;
    height: 2rem;
    fill: #bebebe;
    transition: all 0.2s linear; }
    .workers-boxMain-icon:hover {
      width: 2.5rem;
      height: 2.5rem; }

.workers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.1rem;
  padding: 1rem 0.5rem; }

.workers-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0; }
  .workers-box-img img {
    width: 98%;
    height: 20rem; }
  .workers-box-title {
    color: #003cff;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0; }
  .workers-box-text {
    padding: 5px;
    margin: 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif; }

.categories {
  border: 1px solid #bebebe;
  border-top: none;
  padding-bottom: 1rem; }
  .categories-title {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #707070;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 1rem; }
  .categories-grilla {
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem; }
  .categories-box {
    position: relative;
    width: 100%;
    height: 100%; }
    .categories-box-img img {
      width: 100%;
      height: 100%; }
    .categories-box-text {
      opacity: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      transition: all 0.5s linear; }
      .categories-box-text h2 {
        opacity: 1;
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: white; }
      .categories-box-text:hover {
        opacity: 1; }

.delivery {
  background-image: url("../img/delivery.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .delivery-btn {
    cursor: pointer;
    padding: 1%;
    border: 2px solid #003cff;
    color: #003cff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 100px;
    width: 50%;
    background-color: transparent;
    transition: all 0.3s linear;
    transform: scaleX(1); }
    .delivery-btn:hover {
      transform: scaleY(1.1); }
  .delivery-text {
    font-weight: 900;
    color: red;
    font-family: "Handlee", cursive;
    font-size: 20px; }

.footer {
  height: 3.5rem;
  background-color: #bebebe;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .footer-icon {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    fill: black; }
