@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lato&display=swap");

$color-yellow-one: #ffff58;
$color-yellow-two: #ffff70;
$color-yellow-three: #ffff88;
$color-brown-one: #222222;
$color-brown-two: #454545;
$color-brown-three: #5c5c5c;
$color-brown-four: #747474;
