@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Manrope:wght@200&display=swap");
li {
  list-style-type: none; }

* {
  margin: 0; }

body {
  background-color: #a9897c;
  font-family: "Manrope", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive; }

a {
  text-decoration: none;
  color: white; }

.header {
  background-color: #875a47;
  display: grid;
  grid-template-columns: 2.5em 1fr 7em;
  padding: 0.5em; }
  .header-logo-icon {
    fill: #a9897c;
    width: 2em;
    height: 2em; }
  .header-search {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-search input {
      padding: 0.5em;
      width: 40%;
      border-radius: 1em;
      border: 1px solid #a9897c;
      background-color: transparent;
      transition: all 0.5s;
      padding-left: 2rem; }
      .header-search input:hover, .header-search input:focus {
        width: 70%;
        background-color: #a9897c; }
  .header-navegation {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-navegation-icon {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
      fill: #a9897c; }
      .header-navegation-icon:hover {
        width: 2em;
        height: 2em;
        animation: rotate 1s linear forwards infinite; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.container {
  display: grid;
  grid-template-columns: 15vw 80vw;
  margin: 0;
  background-color: #bba196;
  color: black; }
  .container-slider img {
    width: 100%; }
  .container-title {
    font-size: 24px;
    color: black; }
  .container-text {
    font-size: 14px; }
  .container-food {
    display: grid; }
  .container-types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .container-types-icon {
      width: 2em;
      height: 2em; }
    .container-types-main {
      padding: 10px 0;
      max-height: 400px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(14, 1fr);
      grid-auto-rows: 1fr;
      overflow-x: auto; }
    .container-types-box {
      background-color: rgba(0, 0, 0, 0.3);
      height: 30rem;
      border: 1px solid #875a47;
      margin: 5px;
      margin-top: 0;
      width: 400px; }

.navbar {
  background-color: #875a47;
  border: 1px solid #875a47;
  color: white;
  margin-right: 5px; }
  .navbar-box {
    display: flex;
    align-items: center;
    justify-content: center; }
  .navbar-list {
    margin-top: 1rem; }
    .navbar-list li {
      padding: 10px; }
      .navbar-list li:hover {
        background-color: #a9897c; }

.footer {
  color: white;
  background-color: #875a47; }
  .footer-description {
    height: 70%; }
    .footer-description-title {
      text-align: center;
      font-size: 28px; }
    .footer-description-list {
      padding-bottom: 1rem; }
      .footer-description-list li {
        padding-top: 3px; }
  .footer-redes {
    height: 3rem;
    background-color: #76422d;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-redes-icon {
      width: 1.5em;
      height: 1.5em; }
      .footer-redes-icon:hover {
        animation: rotateme 2s linear forwards infinite; }

@keyframes rotateme {
  0% {
    transform: rotate(0);
    fill: #987162; }
  25% {
    transform: rotate(-90deg);
    fill: #875a47; }
  50% {
    transform: rotate(90deg);
    fill: #a9897c; }
  100% {
    transform: rotate(0);
    fill: #875a47; } }
