@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lato&display=swap");
.header {
  background: #222222;
  background: linear-gradient(top, #222222 0%, #454545 24%, #747474 100%);
  display: grid;
  grid-template-columns: 2.5em 1fr 7em;
  padding: 0.5em; }
  .header-logo-icon {
    fill: white;
    width: 2em;
    height: 2em; }
  .header-search {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-search input {
      padding: 0.3rem;
      width: 40%;
      border-radius: 1rem;
      border: 1px solid white;
      background-color: transparent;
      transition: all 0.5s;
      padding-left: 2rem; }
      .header-search input:hover, .header-search input:focus {
        width: 70%;
        background-color: #5c5c5c; }
  .header-navegation {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-navegation-icon {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
      fill: white; }
      .header-navegation-icon:hover {
        width: 2em;
        height: 2em;
        animation: rotate 1s linear forwards infinite; }

.footer {
  background: #222222;
  background: linear-gradient(bottom, #222222 0%, #454545 24%, #747474 100%); }
  .footer-description {
    height: 70%; }
    .footer-description-title {
      text-align: center;
      font-size: 28px; }
    .footer-description-list {
      padding-bottom: 1rem; }
      .footer-description-list li {
        padding-top: 3px; }
  .footer-redes {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-redes-icon {
      width: 1.5em;
      height: 1.5em; }
      .footer-redes-icon:hover {
        animation: rotateme 2s linear forwards infinite; }

.navbar {
  height: 2.5rem;
  width: 100%;
  background: #222222;
  background: linear-gradient(bottom, #222222 0%, #454545 24%, #747474 100%);
  color: white;
  margin-right: 5px;
  padding: 10px; }
  .navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .navbar-list li:hover {
      background-color: #5c5c5c; }

li {
  list-style-type: none; }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #5c5c5c;
  font-family: "Lato", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courgette", cursive; }

a {
  text-decoration: none;
  color: white; }

.container {
  margin: 0 3rem;
  background-color: white;
  color: black; }
  .container-slider img {
    width: 100%; }
  .container-title {
    font-size: 24px;
    color: black; }
  .container-text {
    font-size: 14px; }
  .container-food {
    display: grid; }
  .container-types {
    width: 100%; }
    .container-types-title {
      text-align: center;
      color: black;
      font-size: 34px; }
    .container-types-main {
      padding: 10px 0;
      max-height: 400px;
      width: 95%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 2rem;
      overflow-x: auto; }
      .container-types-main h1 {
        padding: 10px;
        text-align: center;
        color: white; }
      .container-types-main p {
        font-size: 1rem;
        text-align: justify;
        padding: 5px 10px; }
    .container-types-box {
      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid black;
      margin: 5px;
      margin-top: 0; }

.workers {
  margin-top: 1rem;
  color: black; }
  .workers h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0; }
  .workers p {
    text-align: center;
    padding: 3px; }
  .workers-container {
    padding: 0.6rem 1.4rem;
    display: grid;
    grid-template-columns: repeat(4, 200px); }
  .workers-box {
    height: 200px;
    width: 190px;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s; }
    .workers-box:hover {
      -webkit-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.8);
      box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.8); }
    .workers-box h1 {
      font-size: 1.2rem;
      text-align: center; }
    .workers-box-text {
      font-size: 1rem;
      text-align: justify; }

.favFood {
  margin-top: 1rem;
  color: black; }
  .favFood-title {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0; }
  .favFood p {
    text-align: center;
    padding: 3px; }
  .favFood-container {
    padding: 0.6rem 1.4rem;
    display: grid;
    grid-template-columns: repeat(4, 200px); }
  .favFood-img {
    height: 200px;
    width: 190px;
    position: relative;
    -webkit-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s; }
    .favFood-img:hover {
      -webkit-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.8);
      box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.8); }
  .favFood-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 200px;
    width: 190px;
    padding: 5px;
    color: white;
    opacity: 0; }
    .favFood-box:hover {
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 1; }
    .favFood-box-name {
      font-size: 1.2rem;
      text-align: center;
      font-weight: bold; }
    .favFood-box-category {
      font-size: 10px;
      letter-spacing: 1px;
      text-align: justify; }
      .favFood-box-category strong {
        margin-right: 3px; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotateme {
  0% {
    transform: rotate(0);
    fill: #454545; }
  25% {
    transform: rotate(-90deg);
    fill: #222222; }
  50% {
    transform: rotate(90deg);
    fill: #5c5c5c; }
  100% {
    transform: rotate(0);
    fill: #222222; } }
