/*
Media Query
0 - 600px       Phone
600 - 900px     Tablet Portrait
900 - 1200px    Tablet Landscape
1200 - 1800px   Desktop
1800px ->       Big Desktop
$breakpoint argument shortcude
- phone
- phone-land
- tab
- tab-land
- big-desktop
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap");
body {
  background-color: white;
  margin: 0; }

li {
  list-style-type: none; }

.pad-left-10 {
  padding-left: 10px; }

.pad-right-10 {
  padding-right: 10px; }

.yellow,
.red,
.blue {
  width: 100%;
  height: 4px; }

.yellow {
  background-color: #ffc300; }

.blue {
  background-color: #003cff; }

.red {
  margin: 5px 0;
  background-color: #fc1010; }

.outline {
  border: 2px solid #fc1010;
  background-color: transparent;
  border-radius: 10px; }

.fill {
  background-color: #ffc300;
  border: none;
  border-radius: 100px;
  margin-right: 10px; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .fill {
      margin-right: 0; } }

.white {
  color: white; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 350px;
  margin-top: 2rem !important; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .grilla {
      display: block; } }

.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

* {
  margin: 0; }

.card {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.2);
  height: 340px;
  margin-bottom: 3rem; }
  @media (min-width: 6.25em) and (max-width: 64em) {
    .card {
      display: block;
      height: 30%; } }
  .card-image {
    height: 100%; }
    .card-image img {
      width: 300px;
      height: 100%; }
      @media (min-width: 6.25em) and (max-width: 64em) {
        .card-image img {
          display: block;
          width: 100%; } }
  .card-box {
    padding: 10px 0;
    margin-left: 3%; }
    .card-box-title {
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      color: #707070; }
    .card-box-text {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      color: #707070;
      padding-right: 15%;
      margin: 10px 0; }
    .card-box-secondary {
      margin-right: 3%;
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: #707070; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .card-box-secondary {
          font-size: 14px; } }
    .card-box-calification {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .card-box-calification-stars-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: #ffc300; }
    .card-box-ingredients {
      margin: 10px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .card-box-ingredients-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        padding: 5px; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .card-box-ingredients {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          width: 100%; } }
    .card-box-price {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .card-box-price-number {
        font-size: 28px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        color: #2256ff; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .card-box-price {
          display: flex;
          justify-content: space-between;
          padding-right: 15px; } }
    @media (min-width: 6.25em) and (max-width: 64em) {
      .card-box-btns {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .card-box-btns-btn {
      border-radius: 100px !important;
      border-color: #ffc300;
      width: 8rem;
      margin-top: 1.5rem;
      padding: 7px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #707070;
      transition: all 0.4s;
      outline: none; }
      .card-box-btns-btn:hover {
        box-shadow: 6px 6px 10px 5px rgba(112, 112, 112, 0.2); }

.comments {
  background-color: white;
  margin: 30px 0;
  padding: 0 20px; }
  .comments-title {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #707070;
    margin-bottom: 15px; }

.comment {
  background-color: #f4f4f4;
  padding: 0 20px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 9rem 1fr; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .comment {
      grid-template-columns: 7rem 1fr; } }
  .comment-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .comment-imgs img {
      border-radius: 100%;
      width: 120px;
      height: 120px;
      margin-left: 10px; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .comment-imgs img {
          width: 90px;
          height: 90px; } }
  .comment-description-box {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .comment-description-box {
        display: block; } }
    .comment-description-box h3 {
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 20px; }
      @media (min-width: 37.5625em) and (max-width: 64em) {
        .comment-description-box h3 {
          font-size: 14px; } }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .comment-description-box h3 {
          font-size: 14px; } }
    .comment-description-box p {
      font-size: 12px;
      font-family: "Roboto", sans-serif; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .comment-description-box p {
          font-size: 10px; } }
  .comment-description-text {
    padding: 10px;
    font-size: 12px;
    font-family: "Roboto", sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 80px;
  padding: 0 0px 0 10px; }
  .header-logo {
    font-family: "Handlee", cursive;
    font-size: 32px; }
    @media (max-width: 50em) {
      .header-logo {
        font-size: 28px;
        margin-right: 6%; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .header-logo {
        font-size: 22px;
        margin-right: 0%;
        margin: 0 3%;
        text-align: center;
        width: 100%; } }
  .header-menuicon {
    position: relative;
    top: -1000px; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .header-menuicon {
        top: 0; } }
    .header-menuicon-icon {
      fill: #707070;
      width: 1.2rem;
      height: 1.2rem; }
  .header-search-input {
    height: 2rem;
    width: 30rem;
    border-radius: 100px;
    border: 1px solid #bebebe;
    padding-left: 2rem;
    position: relative; }
    @media (max-width: 50em) {
      .header-search-input {
        width: 15rem; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .header-search-input {
        position: relative;
        top: -1000px;
        width: 0; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .header-search-input.active {
        transition: all 0.5s linear; } }
  .header-search-icon {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    fill: #707070;
    position: absolute;
    margin-left: -2.5rem;
    margin-top: 10px; }
    .header-search-icon:hover {
      margin-top: 10px;
      width: 1.5rem;
      height: 1.5rem; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .header-search-icon:hover {
          margin-top: 8px;
          width: 1.2rem;
          height: 1.2rem; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .header-search-icon {
        margin-left: 0; } }
  .header-phone {
    position: relative;
    top: -100px;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-phone-input {
      padding: 10px;
      border-radius: 100px;
      border: 1px solid #bebebe; }
  .header-navegation {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-navegation li {
      padding-left: 10px;
      font-size: 16px;
      font-family: "Roboto", sans-serif; }
      @media (max-width: 50em) {
        .header-navegation li {
          font-size: 14px;
          font-family: "Roboto", sans-serif; } }
      .header-navegation li:hover {
        text-decoration: underline; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .header-navegation.active {
        transition: all 0.2s ease-in; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .header-navegation {
        position: relative;
        top: -1000px;
        width: 0;
        height: 0; } }

.footer {
  height: 3.5rem;
  background-color: #2256ff;
  background: linear-gradient(90deg, #1557e0 0%, rgba(102, 165, 187, 0.717525) 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .footer-icon {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    fill: white; }

.container {
  min-height: 80vh;
  background-color: white;
  margin: 0 10%; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .container {
      margin: 0; } }

.slider {
  width: 99%; }
  .slider-main {
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .slider-container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95%;
    width: 100%; }
    .slider-container img {
      width: 100vw;
      height: 100%;
      vertical-align: top;
      transition: 2s; }
    @media (max-width: 50em) {
      .slider-container {
        width: 90%; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .slider-container {
        width: 80%; } }
  .slider-box {
    display: flex;
    justify-content: center;
    align-items: center; }
    .slider-box-circle {
      height: 1rem;
      width: 1rem;
      margin: 5px 5px 0;
      background-color: #bebebe;
      border-radius: 100%; }
      .slider-box-circle.active {
        background-color: #2256ff; }

.image {
  width: 100%;
  position: relative; }

.favorites {
  background-image: url("../img/azyl.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box; }
  @media (max-width: 50em) {
    .favorites {
      background-image: none; } }
  .favorites-title {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 20px; }
    @media (max-width: 50em) {
      .favorites-title {
        color: black; } }
  .favorites-container {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    margin-left: 7%; }
    @media (min-width: 6.25em) and (max-width: 64em) {
      .favorites-container {
        grid-template-columns: repeat(3, 230px); } }
    @media (max-width: 50em) {
      .favorites-container {
        display: block;
        margin-left: 0; } }
  .favorites-box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 5px;
    height: 350px; }
    @media (min-width: 6.25em) and (max-width: 64em) {
      .favorites-box {
        height: 380px; } }
    @media (max-width: 50em) {
      .favorites-box {
        margin-right: 0px;
        height: 320px;
        width: 100%; } }
    .favorites-box-img {
      width: 98%; }
      .favorites-box-img img {
        margin: 0;
        width: 100%;
        height: 15rem; }
    .favorites-box-title {
      font-size: 25px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: white;
      margin: 0; }
      @media (max-width: 50em) {
        .favorites-box-title {
          color: black; } }
    .favorites-box-text {
      padding: 5px;
      margin: 0;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      color: white; }
      @media (max-width: 50em) {
        .favorites-box-text {
          padding: 0;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: black; } }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .favorites-box-text {
          padding: 0 10px; } }

.workers {
  margin-bottom: 20px; }
  .workers-title {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #707070;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 1rem; }
    @media (max-width: 50em) {
      .workers-title {
        font-size: 26px; } }
  .workers-boxMain {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .workers-boxMain-icon {
      width: 2rem;
      height: 2rem;
      fill: #bebebe;
      transition: all 0.2s linear; }
      .workers-boxMain-icon:hover {
        width: 2.5rem;
        height: 2.5rem; }
  .workers-container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .workers-container {
        grid-template-columns: 1fr; } }
  .workers-box {
    width: 383px;
    height: 384px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0; }
    .workers-box-img img {
      width: 100%;
      height: 20rem; }
      @media (max-width: 50em) {
        .workers-box-img img {
          height: 13rem; } }
    .workers-box-title {
      color: #003cff;
      font-size: 25px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      margin: 0; }
      @media (max-width: 50em) {
        .workers-box-title {
          font-size: 16px; } }
    .workers-box-text {
      padding: 5px;
      margin: 0;
      font-size: 12px;
      font-family: "Roboto", sans-serif; }
  .workers-circle {
    height: 0.5rem;
    width: 5rem;
    margin: 5px 5px 0;
    background-color: #bebebe;
    border-radius: 50px; }
    .workers-circle.active {
      background-color: #2256ff; }

.categories {
  border-top: none;
  padding-bottom: 1rem; }
  .categories-title {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #707070;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 1rem; }
  .categories-grilla {
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem; }
    @media (min-width: 37.5625em) and (max-width: 64em) {
      .categories-grilla {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .categories-grilla {
        grid-template-columns: repeat(1, 1fr); } }
  .categories-box {
    position: relative;
    width: 100%;
    height: 100%; }
    .categories-box-img img {
      width: 100%;
      height: 100%; }
    .categories-box-text {
      opacity: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      transition: all 0.5s linear; }
      .categories-box-text h2 {
        opacity: 1;
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: white; }
      .categories-box-text:hover {
        opacity: 1; }

.delivery {
  background-image: url("../img/delivery.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .delivery-btn {
    cursor: pointer;
    padding: 1%;
    border: 2px solid #003cff;
    color: #003cff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 100px;
    width: 50%;
    background-color: transparent;
    transition: all 0.3s linear;
    transform: scaleX(1); }
    .delivery-btn:hover {
      transform: scaleY(1.1); }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .delivery-btn {
        width: 98%;
        margin: 0 1%;
        margin-bottom: 3%; } }
  .delivery-text {
    font-weight: 900;
    color: red;
    font-family: "Handlee", cursive;
    font-size: 20px; }
  .delivery-h3 {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 26px; }
    @media (min-width: 6.25em) and (max-width: 64em) {
      .delivery-h3 {
        text-align: center; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .delivery-h3 {
        font-size: 20px; } }

.progress {
  width: 38%;
  padding: 2px;
  background: rgba(190, 190, 190, 0.15);
  border-radius: 4px;
  position: relative;
  left: 60%; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .progress {
      left: 10px;
      width: 90%; } }

.progress-bar {
  height: 10px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color; }

#five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #ffc300; }

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #ffc300; }

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #ffc300; }

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #ffc300; }

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #ffc300; }

.radio {
  display: none; }

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer; }

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25); }

.cards-card {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.2);
  height: 258px;
  margin-bottom: 3rem; }
  @media (min-width: 6.25em) and (max-width: 64em) {
    .cards-card {
      display: block;
      height: 30%; } }
  .cards-card-image {
    height: 100%; }
    .cards-card-image img {
      width: 220px;
      height: 100%; }
      @media (min-width: 6.25em) and (max-width: 64em) {
        .cards-card-image img {
          display: block;
          width: 100%; } }
  .cards-card-box {
    padding: 10px 0;
    margin-left: 2%; }
    .cards-card-box-title {
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      color: #707070;
      font-size: 22px; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .cards-card-box-title {
          font-size: 28px; } }
    .cards-card-box-text {
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      color: #707070;
      padding-right: 15%;
      margin: 5px 0; }
      @media (min-width: 6.25em) and (max-width: 64em) {
        .cards-card-box-text {
          padding-right: 2%; } }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .cards-card-box-text {
          font-size: 16px;
          padding-right: 5%; } }
    .cards-card-box-secondary {
      margin-right: 3%;
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #707070; }
      @media (min-width: 6.25em) and (max-width: 64em) {
        .cards-card-box-secondary {
          margin-right: 12px; } }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .cards-card-box-secondary {
          font-size: 16px; } }
    .cards-card-box-calification {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .cards-card-box-calification-stars-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: #ffc300; }
    .cards-card-box-ingredients {
      margin: 5px 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .cards-card-box-ingredients-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        padding: 5px;
        margin-bottom: 5px; }
      @media (min-width: 6.25em) and (max-width: 64em) {
        .cards-card-box-ingredients {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          width: 100%; } }
    .cards-card-box-price {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .cards-card-box-price-number {
        font-size: 28px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        color: #2256ff;
        font-size: 18px; }
        @media (min-width: 6.25em) and (max-width: 37.5em) {
          .cards-card-box-price-number {
            font-size: 28px; } }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .cards-card-box-price {
          display: flex;
          justify-content: space-between;
          padding-right: 15px;
          font-size: 20px; } }
    .cards-card-box-btns {
      margin-top: 2%; }
      @media (min-width: 6.25em) and (max-width: 64em) {
        .cards-card-box-btns {
          display: flex;
          justify-content: center;
          align-items: center; } }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .cards-card-box-btns {
          flex-direction: column; } }
      .cards-card-box-btns-btn {
        border-radius: 100px !important;
        border-color: #ffc300;
        width: 8rem;
        padding: 5px;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #707070;
        transition: all 0.4s;
        outline: none;
        box-shadow: 3px 3px 5px 2px rgba(112, 112, 112, 0.2); }
        .cards-card-box-btns-btn:hover:hover {
          background-color: #707070;
          color: white;
          border-color: #707070; }
        @media (min-width: 6.25em) and (max-width: 37.5em) {
          .cards-card-box-btns-btn {
            width: 98%;
            padding: 8px;
            font-size: 16px;
            color: black;
            letter-spacing: 1px;
            margin: 4% 1% 0; } }

.process {
  margin-left: 10%;
  margin-right: 5%;
  padding-top: 5%; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .process {
      margin-left: 5%; } }
  .process-box-name {
    height: 40px;
    background-color: #2256ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .process-box-name h3 {
      color: white;
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 22px; }
  .process-box-description {
    border: 1px solid #2256ff;
    margin: 10px;
    margin-top: 0;
    padding: 5%; }
    .process-box-description-name {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .process-box-description-name p {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        color: #707070; }
    .process-box-description-text {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .process-box-description-text p {
        font-size: 18px;
        font-family: "Roboto", sans-serif; }
        @media (min-width: 6.25em) and (max-width: 37.5em) {
          .process-box-description-text p {
            font-size: 20px; } }
  .process-btn {
    margin-top: 5%;
    padding: 10px;
    width: 100%;
    color: #707070;
    transition: all 0.4s;
    box-shadow: 3px 3px 5px 2px rgba(112, 112, 112, 0.2);
    margin-bottom: 15px; }
    .process-btn:hover {
      background-color: #707070;
      color: white; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .process-btn {
        font-size: 18px; } }

.blog {
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://3.bp.blogspot.com/-otJEC5GINdw/Vvos12wGUpI/AAAAAAAAKzs/4UdFNgC7278MQ_ypmvn7Kowzitc8klUvQ/s1600/Foto1.JPG"); }

.cards-paid {
  margin: 0 0 15px 2%;
  padding: 0 3% 5%;
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.2); }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .cards-paid {
      box-shadow: none; } }
  .cards-paid-box-title {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    color: #003cff;
    text-align: center;
    padding-bottom: 3%; }
  .cards-paid-box-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 15px; }
    @media (min-width: 6.25em) and (max-width: 64em) {
      .cards-paid-box-description {
        grid-template-columns: repeat(1, 1fr); } }
    .cards-paid-box-description-text {
      margin: 5px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .cards-paid-box-description-text h5 {
        margin-right: 10px;
        font-size: 32px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 12px; }
      .cards-paid-box-description-text p {
        font-size: 12px;
        font-family: "Roboto", sans-serif; }

.process-paid {
  padding-top: 0; }
  .process-paid-description {
    width: 100%; }
    .process-paid-description p {
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      padding-top: 5px; }
    .process-paid-description-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5%; }
      .process-paid-description-total h3 {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 500; }
      .process-paid-description-total p {
        font-size: 28px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #2256ff; }
  .process-paid-delivery {
    width: 100%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .process-paid-delivery input {
      margin-right: 2%;
      cursor: pointer; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .process-paid-delivery {
        justify-content: flex-start;
        margin-bottom: 10px; } }

.process-bar-container {
  padding-top: 10px; }

.ticket {
  padding: 15px;
  margin: 2% 20% 0;
  box-shadow: none;
  border: 1px solid #bebebe; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .ticket {
      margin: 2%; } }
  .ticket-progress {
    left: 30%; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .ticket-progress {
        left: 10px; } }
  .ticket-box {
    border: none;
    padding: 0;
    margin: 0; }
  .ticket-total {
    justify-content: flex-end; }
    .ticket-total h3 {
      margin-right: 10px;
      font-size: 12px; }
    .ticket-total p {
      font-size: 16px; }

.blog-container {
  padding: 2% 5%; }

.blog-list-card {
  box-shadow: none;
  border: 1px solid #f4f4f4; }
  @media (min-width: 37.5625em) and (max-width: 64em) {
    .blog-list-card {
      display: flex;
      height: 258px; } }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .blog-list-card {
      display: block;
      width: 100%;
      margin: 0; } }
  .blog-list-card-image {
    height: 100%; }
    @media (min-width: 6.25em) and (max-width: 64em) {
      .blog-list-card-image img {
        display: initial;
        height: 100%;
        width: 100%; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .blog-list-card-image img {
        margin: 0;
        width: 100%; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .blog-list-card-image {
        margin: 0;
        width: 100%; } }
  @media (min-width: 6.25em) and (max-width: 64em) {
    .blog-list-card-btns {
      display: block; } }
  .blog-list-card-btn {
    background-color: #003cff;
    color: white; }

.blog-grill-box {
  cursor: pointer; }
  .blog-grill-box-text {
    flex-direction: column; }
    .blog-grill-box-text p {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-size: 10px;
      color: white;
      text-align: center; }

.change {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .change-icon {
    transform: all 0.3s; }
    .change-icon:hover {
      fill: #bebebe; }
