.footer {
  background: $color-brown-one;
  background: linear-gradient(
    bottom,
    $color-brown-one 0%,
    $color-brown-two 24%,
    $color-brown-four 100%
  );
  &-description {
    height: 70%;
    &-title {
      text-align: center;
      font-size: 28px;
    }
    &-list {
      padding-bottom: 1rem;
      li {
        padding-top: 3px;
      }
    }
  }
  &-redes {
    height: 3rem;
    // background-color: $color-brown-one;
    display: flex;
    justify-content: center;
    align-items: center;
    &-icon {
      @include iconsSmall;
      &:hover {
        animation: rotateme 2s linear forwards infinite;
      }
    }
  }
}
