.navbar {
  height: 2.5rem;
  width: 100%;
  background: $color-brown-one;
  background: linear-gradient(
    bottom,
    $color-brown-one 0%,
    $color-brown-two 24%,
    $color-brown-four 100%
  );
  color: white;
  margin-right: 5px;
  padding: 10px;

  &-box {
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
      &:hover {
        background-color: $color-brown-three;
      }
    }
  }
}
